<!DOCTYPE html>
<html>

<head>
    <title>TweedTrend</title>

  <style>
    
   /*
    footer {
      padding: 20px 0px 10px 0px;
      background-color: lightBlue;
      margin: 0px;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    */
    footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      padding: 10px 0;
      background-color: #D3CBE5;
      text-align: center;
    }
    

   

    p {
      text-align: center;
     
    }
  </style>
</head>

<footer>
  <p>10626643@mydbs.ie</p>
</footer>

</html>
